html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*** Estilo exclusivo BBDD_03 ***/
.centrar {
  margin: auto;
  width: 800px;
}

.gestion {
  border: 5px solid #68b12f;
  border-radius: 10px;
  padding: 2%;
}

.gestion h1 {
  margin: 0 auto;
  background-color: #396715;
  color: #ffffff;
  border-radius: 4.05px;
  text-decoration: underline 2px;
  text-align: center;
  padding: 2px 25px;
  width: 445px;
}

.reserva_plaza {
  margin: 20px auto;
  width: fit-content;
}

.reserva_plaza label {
  display: block;
}

span {
  display: inline-block;
  margin-top: 20px;
}

.reserva_plaza input,
.reserva_plaza select {
  display: block; /* Alinea los elementos en la misma línea */
  margin: 12px auto;
  margin-bottom: 10px; /* Ajusta el espacio entre los elementos */
  margin-left: 20px;
  width: 200px;
}

.reserva_plaza input[type="submit"] {
  margin-left: -135px;
  margin-top: 10%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  padding: 20px 0px;
  border-bottom: 1px solid;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #396715;
}

.volver {
  margin: 1% 20px;
  border-bottom: 1px solid;
  background-color: #eaf8e6;
  border-radius: 12px;
  padding: 2px 15px;
  text-shadow: #20911e 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.plazas {
  margin: 6% auto;
  width: fit-content;
}

.plazas label {
  display: block;
  margin: 20px;
}

.formulario h1 {
  margin: 0;
  display: inline;
}

.formulario label {
  width: 500px;
  margin: 12px auto;
  padding: 0 3.5%;
  margin-top: 3px;
}
.formulario input {
  margin-left: 130px;
  margin-right: 15px;

  width: 220px;
  padding: 5px 8px;
  border-radius: 5px;
}

.formulario select {
  height: 30px;
  width: 238px;
  padding: 5px 8px;
}

/*** botón formulario ***/
input[type="submit"] {
  margin-top: 15px;
  background-color: #68b12f;
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  color: white;
  font-weight: bold;
  padding: 6px 0px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}

input[type="submit"]:hover {
  opacity: 0.85;
  cursor: pointer;
}

input[type="submit"]:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
}

/*** aviso ***/
.aviso {
  margin: 20px auto;
  margin-left: 150px;
  width: fit-content;
  padding: 20px;
  background-color: #2196f3;
  color: white;
  margin-bottom: 10px;
}

/*** tabla ***/
.tabla {
  padding: 0;
  width: 650px;
  margin: 20px 0 0 30px;
}

.tabla th {
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #68b12f;
}

.tabla td {
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  padding: 8px;
  padding-left: 16px;
  text-align: center;
}

.tabla tbody tr:nth-child(even) {
  background-color: #eaf8e6;
}
