* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("./../fuente/Gotham-Spotify-Font/Gotham-Bold.otf") format("truetype");
}

/* describir el tipo de fuente y la variables del proyecto */
body {
  font-family: "Gotham";

  /* colores de negro */
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #d1d1d1;
  --color-black-300: #b0b0b0;
  --color-black-400: #888888;
  --color-black-500: #6d6d6d;
  --color-black-600: #5d5d5d;
  --color-black-700: #4f4f4f;
  --color-black-800: #454545;
  --color-black-900: #1d1d1d;
  --color-black-950: #000000;
  --color-black-gradient: #3a3a3a;
  --color-black-rounded: #252525;
  --color-black-rounded-hover: #353535;

  /* color verde */

  --color-green-special: #3abb3a;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;

  color: var(--color-black-300);
  font-size: 2rem;
  overflow: hidden;
}

ul {
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
}

.ajuste-svg {
  width: 30px;
  height: 30px;
}

.play-svg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-black-50);
}

.play-svg:hover {
  transform: scale(1.1);
}

.icono-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6%;
  font-size: 0.9rem;
  cursor: pointer;
}

/* clase para el color de los iconos */
.color-icono {
  color: var(--color-black-300);
  fill: var(--color-black-300);
  transition: color 0.4s, fill 0.4s;
}

/* Cambio de color en el hover */
.color-icono:hover {
  color: var(--color-black-50);
  fill: var(--color-black-50);
}

.color-play-icono {
  color: var(--color-black-950);
  fill: var(--color-black-950);
}

.color-verde {
  color: var(--color-green-special);
  fill: var(--color-green-special);
}

.scale:hover {
  transform: scale(1.1);
}

/* Agregar el escalado */
.crece {
  fill: var(--color-black-300);
}

.crece:hover {
  transform: scale(1.04);
  color: var(--color-black-50);
  fill: var(--color-black-50);
}

/* Fondo circular para ciertos botones */
.redondeado {
  background-color: inherit;
  border-radius: var(--rounded-2xl);
  transition: background-color 0.1s;
}

.redondeado:hover {
  background-color: var(--color-black-rounded);
}

/* Estilo para los tooltips */

.tooltips {
  position: relative;
}

.tooltips:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: var(--color-black-50);
  background-color: var(--color-black-800);
  padding: 0.5vh 0.5vw;
  border-radius: var(--rounded);
  left: 60%;
  top: -120%;
  width: max-content;
  transform: translateX(-50%);
  font-size: 0.7rem;
  box-shadow: 0px 5px 30px 0px var(--color-black-950);
  transition: visibility 0.4s, opacity 0.4s linear 0.2s;
}

.type-2 {
  left: 0%;
  top: -110%;
  transform: translateX(-11%);
}

/* Estilo personalizado de la scrollbar */

.scrollbar {
}

/* margenes para  los botones de la cabecera de la biblioteca*/
.margen-biblioteca-botones {
  margin-left: 20px;
}

/* margenes para  los botones del cuerpo de la biblioteca*/
.margen-biblioteca {
  margin-left: 10px;
}

/* Estilo del contenedor principal */
.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-black-950);
}

.menu-desplegable {
  height: 5vh;
}

.menu-desplegable ul {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.submenu-no-visible {
  display: none;
}

.reproductor-musica {
  display: grid;
  grid-template-areas:
    "biblioteca reproductor reproductor informacion"
    "cancion controlador controlador volumen";
  grid-template-rows: 86vh 8vh;
  grid-template-columns: 22% 28% 28% 20.5%;
  height: 95vh;
  gap: 0.5%;
  margin: 0 0.5%;
}

/* Estilar cada uno de los contenedores */
.contenedores-reproductor {
  background-color: var(--color-black-900);
  border-radius: var(--rounded-md);
  font-size: 1rem;
}

/*
1ª Columna:
Estilo de la columna de la biblioteca
*/

/* Selector para el area de la biblioteca */
#col-biblioteca {
  grid-area: biblioteca;
  display: grid;
  /* cambios para las filas de separacion de las bibliotecas */
  grid-template-rows: 12% 87%;
  gap: 10px 0;
}

/* Clase para todos los divs principales dentro de la columna biblioteca */
.biblioteca {
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}

/* Clase para variar el justify dentro del visualizado de las listas y artistas */
.visualizado-biblioteca {
  justify-content: flex-start;
}

/* div selector para el boton:Tu biblioteca */
.opciones-biblioteca {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px 0;
}

/* Estilo para el primer div dentro de la biblioteca  */
.boton-biblioteca {
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.boton-biblioteca > div:last-child {
  display: flex;
  padding-right: 2%;
  width: 80px;
  justify-content: space-between;
}

/* Estilo para los filtros  */
.filtros-biblioteca {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  color: var(--color-black-100);
  cursor: pointer;
  margin-left: 2%;
}

.filtro-biblioteca {
  margin-left: 2%;
  padding: 0.8vh 0.8vw;
  border-radius: var(--rounded-2xl);
  background-color: var(--color-black-rounded);
  transition: background-color 0.8s;
}
.filtro-biblioteca:hover {
  background-color: var(--color-black-rounded-hover);
}

/* Estilo para la organizacion de las listas */
.organizar-biblioteca {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organizar-biblioteca > div:last-child {
  padding-right: 2%;
}

/* Estilo de las listas y de los artistas */

.listas-biblioteca {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 5%;
  width: 96%;
  overflow-y: hidden;
}

.listas-biblioteca:hover {
  overflow-y: scroll;
}

.listas-biblioteca ul {
  width: 100%;
}

.elemento-listas {
  width: 100%;
  padding-left: 2%;
  height: 75px;
  display: flex;
  align-items: center;
}

.elemento-listas:hover {
  background-color: var(--color-black-700);
  border-radius: var(--rounded-md);
}

.lista-biblioteca {
  display: flex;
  gap: 0 12px;
  cursor: pointer;
}

.imagen-lista {
  width: 50px;
  border-radius: var(--rounded);
}

.info-lista {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titulo-lista {
  color: var(--color-black-50);
}

.canciones-lista {
  font-size: 0.7rem;
}

/* Estilo de la columna del reproductor */

/* Selector para el reproductor de musica */
#col-reproduccion {
  grid-area: reproductor;
  background: linear-gradient(
    var(--color-black-gradient) 10%,
    var(--color-black-900) 90%
  );
}
#col-infoGrupo {
  grid-area: informacion;
}

/* clase para centrar las columnas inferiores de los extremos */
.centrador-inferior {
  display: flex;
  height: 100%;
}

/* Selector para el area de la cancion actual sonando */
#col-cancionActual {
  grid-area: cancion;
}

/* contenedor de toda la info del area */
.cancionSonando {
  display: flex;
  font-size: 0.8rem;
  color: var(--color-black-50);
  align-self: center;
  align-items: center;
  height: fit-content;
  gap: 0 10px;
  cursor: pointer;
}

.imagen-cancion-sonando {
  width: 55px;
  border-radius: var(--rounded);
}

.contenido-cancion-sonando {
  display: flex;
}

.info-cancion-sonando {
  display: flex;
  flex-direction: column;
  gap: 3px 0;
}

/* Texto alternativo para el artista */
.artista-cancion-sonando {
  font-size: 0.6rem;
  color: var(--color-black-500);
}

/* Selector de los controladores de la cancion */
#col-controladorCancion {
  grid-area: controlador;
}

#col-controladorCancion > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

/* botones dentro del control de la cancion */
.opciones-control-cancion {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.sin-padding {
  padding: 0;
}

/* barra de progreso de la cancion */

.progreso-control-cancion {
  display: flex;
  justify-content: center;
  height: 0.4vh;
}

.progreso-contenedor {
  width: 60%;
  height: auto;
  background-color: var(--color-black-600);
  border-radius: 100px;
  position: relative;
}

.progreso-barra {
  width: 20px;
  height: 100%;
  background-color: var(--color-black-100);
  border-radius: 100px;
  transition: width 0.25s;
  position: relative;
}

.progreso-contenedor:hover .progreso-barra {
  background-color: var(--color-green-special);
}

.progreso-contenedor:hover .progreso-circulo {
  visibility: visible;
}

.progreso-circulo {
  visibility: hidden;
  width: 12px;
  height: 12px;
  background-color: var(--color-black-100);
  border-radius: 50%;
  position: absolute;
  top: -4px; /* Adjust this to center the circle */
  right: 0;
  transform: translateX(50%);
}

/* Selector para el area de las opciones del volumen y la cola de la lista */
#col-opcionesVolumen {
  grid-area: volumen;
}

.opcionesSonando {
  display: flex;
  justify-content: space-evenly;
  gap: 0px 10px;
  align-items: center;
  width: 100%;
}

.separador-opciones-sonando {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.barra-volumen {
  display: flex;
  align-items: center;
}

.con-tamaño {
  width: 80px;
}

.ocupacion-total {
  width: 100%;
}
