* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Colores web */
  --green-50: #e7ffe4;
  --green-100: #c9ffc4;
  --green-200: #98ff90;
  --green-300: #56ff50;
  --green-400: #00ff00;
  --green-500: #00e606;
  --green-600: #00b809;
  --green-700: #008b07;
  --green-800: #076d0d;
  --green-900: #0b5c11;
  --green-950: #003406;
  --gray-article: #f3f3f3;
  --gray-outline: #dad8d8;
  position: relative;
}

/* 
La web tiene diferentes media queries 
para trabajar con 3 respoluciones diferentes
*/
/* Resolucion por defecto */

body {
  height: 100vh;
}

/* Cabecera de la web id: cabecera_principal */

#cabeceraPrincipal {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--green-700);
}
#cabeceraPrincipal div {
  width: 80%;
  display: flex;
  padding: 0px 8px 5px;
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--green-500);
}

/* Titulo: Menús */

.tituloPrincipal {
  font-size: 20px;
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
}

.tituloPrincipal img {
  max-height: 1em;
  margin-right: 0.5em;
}

/* Estilo de la nav */
.menuNavegacion {
  width: 400px;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: flex-end;
}
/* Clase para cada li dentro de la nav */
.opcionBusqueda {
  padding: 2px 2px;
  color: black;
  text-decoration: none;
}
.opcionBusqueda:hover {
  background-color: var(--green-400);
  outline: 1px solid var(--green-600);
  color: var(--green-600);
  border-radius: 5px;
}

/* Main */

#contenido {
  display: flex;
  justify-content: center;
  width: auto;
  height: fit-content;
}

#contenido section {
  margin-top: 10px;
  display: flex;
  width: 80%;
  gap: 0 20px;
}

#contenido section > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Estilo de cada articulo del contenido */
.articulosSeccion {
  min-width: 250px;
  min-height: 400px;
  width: 20%;
  cursor: pointer;
  border-radius: 6px;
  padding: 2px 8px 6px;
  background-color: var(--gray-article);
  outline: 1px solid var(--gray-outline);
}

/* Agregar animacion */

/* Estilo de los enlaces dentro del contenido */
.enlaces {
  order: 1;
  flex: 1;
  background-color: var(--green-50);
  height: fit-content;
  padding: 10px;
}

/* Estilo de la lista en enlaces */
.enlaces ul {
  list-style: none;
}

/* Estilo de cada una de las opciones de dichos enlaces */
.enlaces li {
  padding-bottom: 5px;
  cursor: pointer;
}

.enlaces li:hover {
  text-decoration: underline var(--green-500);
}

/* Footer */

#piePagina {
  display: flex;
  position: sticky;
  margin-top: 30px;
  top: 100%;
  left: 10%;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: var(--green-700);
  border-radius: 5px;
}

#piePagina section {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--green-500);
  border-radius: 5px;
  padding: 10px 10px;
  padding-left: 5px;
  margin: 20px;
  word-wrap: break-word;
}

/* Resolucion intermedia (800px) */

@media (max-width: 799px) {
  #cabeceraPrincipal div {
    width: 95%;
  }

  #contenido section {
    width: 95%;
    gap: 20px;
  }

  #contenido section > div {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .articulosSeccion {
    min-height: 200px;
    width: 100%;
  }

  #piePagina {
    width: 95%;
    left: 2.5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    bottom: -20%;
  }

  #piePagina section {
    width: 100%;
  }
}

/* Resolucion pequeña (500px) */
@media (max-width: 500px) {
  #cabeceraPrincipal div {
    width: 100%;
    border-radius: 0;
  }

  #contenido section {
    width: 100%;
    flex-direction: column;
  }
  .enlaces {
    width: 20%;
  }
  #piePagina {
    width: 100%;
  }

  .menuAfter {
    cursor: pointer;
  }

  .menuNavegacion {
    background-color: var(--green-800);
    /* box-shadow: -240px 0px 10px rgb(0 0 0 / 0.5); */
    display: none;
    margin: 0;
    position: fixed;
    z-index: 1;
    color: white;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 90px;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 8px 0 0 8px;
    justify-content: space-around;
    align-content: center;
  }

  .menuNavegacion a {
    order: 1;
    color: white;
  }

  .menuNavegacion span {
    order: -1;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: center;
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  #piePagina {
    border-radius: 0;
  }
}
