/* 
La web tiene diferentes media queries para trabajar
con 3 respoluciones diferentes
 */

/* Resolucion por defecto */

/* Resolucion intermedia (800px) */

/* Resolucion pequeña (500px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Colores web */
  --green-50: #e7ffe4;
  --green-100: #c9ffc4;
  --green-200: #98ff90;
  --green-300: #56ff50;
  --green-400: #00ff00;
  --green-500: #00e606;
  --green-600: #00b809;
  --green-700: #008b07;
  --green-800: #076d0d;
  --green-900: #0b5c11;
  --green-950: #003406;
  --gray-article: #f3f3f3;
  --gray-outline: #dad8d8;
}

/* Cabecera de la web
    id: cabecera_principal
*/

#cabeceraPrincipal {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;

  background-color: var(--green-700);
}

#cabeceraPrincipal div {
  width: 60%;
  display: flex;
  padding: 0px 8px 5px;
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--green-500);
}

/* Titulo: Menús */
.tituloPrincipal {
}

.tituloPrincipal::before {
}

/* Clase para el nav con las opciones de navegacion */

.menuNavegacion {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.opcionBusqueda {
  padding: 2px 2px;
  color: black;
  text-decoration: none;
}

.opcionBusqueda:hover {
  background-color: var(--green-400);
  outline: 1px solid var(--green-600);
  color: var(--green-600);
  border-radius: 5px;
}

/* Main */

#contenido {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*  */
#contenido section {
  margin-top: 10px;
  display: flex;
  width: 60%;
}

/*  */
#contenido section > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/*  */
.articulosSeccion {
  width: 20%;
  cursor: pointer;
  border-radius: 6px;
  padding: 2px 8px 6px;
  background-color: var(--gray-article);
  outline: 1px solid var(--gray-outline);
}

section aside {
  background-color: var(--green-50);
  height: fit-content;
  padding: 10px;
}

/* Footer */
#piePagina {
  display: flex;
  justify-content: center;
  width: 100%;
}
