/* 
La web tiene diferentes media queries para trabajar
con 3 respoluciones diferentes
 */

/* Resolucion por defecto */

/* Resolucion intermedia (800px) */

/* Resolucion pequeña (500px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Colores web */
  --green-50: #e7ffe4;
  --green-100: #c9ffc4;
  --green-200: #98ff90;
  --green-300: #56ff50;
  --green-400: #00ff00;
  --green-500: #00e606;
  --green-600: #00b809;
  --green-700: #008b07;
  --green-800: #076d0d;
  --green-900: #0b5c11;
  --green-950: #003406;
}

/* Cabecera de la web */

header {
  display: flex;
  background-color: var(--green-900);
}

.titulo {
}

.titulo p {
  font-size: 1em;
  font-weight: 700;
}

.titulo p::before {
  content: url("./../imagen/logolibro.png");
}
/* Main */

/* Footer */
