/* selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fondo-cabecera-footer: #0f76a0;
  --fondo-color: #9fc8d9;
  --fondo-aside: #e7f1f5;
  --color-resalto: #094660;
  --color-li: #6facc6;
  --color-pie-anchor: #666666;
  --color-nav-anchor: #333333;
}

img {
  border: 1px solid;
  padding: 4px;
}

/* identificador de la cabecera: #cabeceralogo */

/* estilo del header*/
#cabeceralogo {
  height: 150px;
  padding: 2%;
  background-color: var(--fondo-cabecera-footer);
}

/* estilo del div y del h1 */
#cabeceralogo div {
  margin: auto;
  width: fit-content;
}

#cabeceralogo h1 {
  font-size: 54px;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  color: white;
}

/* identificador de la barra de navegacion: #menuprincipal */
/* 

REHACER:
tamaño de los li coincide con tamaño nav

*/
#menuprincipal {
  width: 100%;
  height: 50px;
  padding: 2% 0;
  background-color: var(--fondo-color);
  outline: 1px solid var(--color-resalto);
}

/* estilo de los enlaces de la nav */
#menuprincipal li a {
  font-family: Arial;
  font-size: 18px;
  font-weight: bolder;
  color: var(--nando);
  text-decoration: none;
}

/* estilo de la lista del nav */
#listamenu {
  /* posicion absoluta para ser el punto de referencia de cada li */
}
#listamenu li {
  /* mostrarlos en linea de bloque */
  display: inline-block;
  position: relative;
}

/* hover en los enlaces */
#listamenu li:hover {
  background: #6facc6;
}

/* Ocultar el submenu */
#listamenu li > ul {
  display: none;
}

/* Submenu visible cuando se heace hover en el li correcto*/
#listamenu li:hover > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: var(--fondo-color);
  border: 10px;
  border-radius: 0 0 10px 10px;
  /* agregar la sombra */
  box-shadow: 0 10px 5px 5px rgb(100 100 100 /0.7);
}
li > ul li {
  width: 120px;
  height: 35px;
  padding-top: 15px;
  padding-left: 10px;
}

/* selector de la seccion principal */

main {
  width: 100%;
  padding: 2%;
  /* configuracion de la imagen del fondo */
  background-image: url(./../imagen/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  background-attachment: fixed;
}

main div {
  margin: 0 auto;
  width: 960px;
}

/* identificador de la seccion principales:#articulosprincipales */

#articulosprincipales {
  float: left;
  width: 620px;
  background-color: white;
  border-radius: 10px;
  padding-top: 4%;
}

#articulosprincipales article {
  /* posicion relativa para ser punto de referencia de las fechas */
  position: relative;
  margin-bottom: 1%;
  padding: 3% 8% 2%;
}

/* selector del aside dentro del main principal */
#infoadicional {
  /* flotando a la derecha de la seccion */
  float: right;
  width: 280px;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--fondo-aside);
}

/* div para consolidar las dimensiones de los articulos */
.limpiar {
  clear: both;
}

/* estilo de las fechas */
#articulosprincipales time {
  /* mostrar las fechas al lado de cada articulo */
  display: block;
  position: absolute;
  top: 3%;
  left: -12%;
  width: 90px;
  padding: 3% 0.5%;
  background-color: var(--color-resalto);
  box-shadow: 3px 3px 5px rgb(100 100 100 /0.7);
  border-radius: 5px;
}

/* estilo de la clase del numero del dia (FECHAS) */
.numerodia {
  font-size: 36px;
  /* centrar elementos en el time */
  width: fit-content;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: white;
}

/* estilo de la clase del nombre del dia (FECHAS) */
.nombredia {
  width: fit-content;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: white;
}

/* estilo de titulos en los articulos */

article h1 {
  margin-bottom: 2%;
  font-family: Georgia, sans-serif;
  font-size: 30px;
}

article p {
  font-size: 18px;
  font-family: Georgia, sans-serif;
}

/* identificador del pie de pagina:#pielogo */

#pielogo {
  width: 100%;
  padding: 2%;
  background-color: var(--fondo-cabecera-footer);
}

#pielogo div {
  margin: 0 auto;
  width: 960px;
  background-color: var(--fondo-color);
  border-radius: 10px;
}

#pielogo section {
  float: left;
  width: 27.33%;
  padding: 3%;
}

#pielogo h1 {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

#pielogo p {
  margin-top: 2.5%;
}

#pielogo a {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-pie-anchor);
  text-decoration: none;
}
