* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./../fuentes/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter";
  --fondo-caja-imagen: rgb(241, 241, 241);
}

header {
  position: fixed;
  display: none;
}

/* Estilo del contenido de la busqueda */

.contenedor-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.ficha {
  height: 230px;
  display: flex;
  flex-direction: column;
}

.imagen {
  height: 230px;
  max-height: 80%;
  border-radius: 5%;
  background-color: var(--fondo-caja-imagen);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
W!!: tengo que varia estos porcentajes para hacer un mejor reescalado de las
imagenes que no abarcan en su totalidad el width y height 
dentro del contenedor y que muestran el color de fondo del div
 */
.imagen img {
  max-width: 100%;
  max-height: 100%;
}
