* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./../fuentes/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter";
  --fondo-caja-imagen: rgb(241, 241, 241);
  --color-enlaces: rgb(150, 149, 149);
}

header {
  position: fixed;
  display: none;
}

/* Estilo del contenido de la busqueda */

/*  */
main {
}

.contenedor-imagenes {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25px;
}

.ficha {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ficha > div {
  /* cambiar esta propiedad para que el texto se adapte al tamaño de la imagen */
  max-width: 300px;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis;
}

.imagen {
  height: 180px;
  max-height: 225px;
  border-radius: 5%;
  background-color: var(--fondo-caja-imagen);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ficha:hover .imagen {
  box-shadow: 0 0 10px;
}

.imagen img {
  width: fit-content;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.ficha a {
  text-decoration: none;

  color: var(--color-enlaces);
}

.ficha a:hover {
  text-decoration: underline;
}
