body {
  font-family: Arial, Helvetica, sans-serif;
}

.seccion-lista {
  font-size: 2rem;
}

.seccion-lista input[type="button"] {
  font-size: 1.25rem;
}

.seccion-lista input[name="erase"] {
  font-size: 2rem;
}

.seccion-lista ul {
  list-style: none;
}
.seccion-lista ul li span {
  padding-left: 20px;
}
