* {
  box-sizing: border-box;
  font-weight: bolder;
}
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(59, 57, 57);
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.calculadora {
  padding: 2vw;
  width: 30vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(120px, auto) repeat(6, 1fr);
  background-color: rgb(45, 100, 37);
  border-radius: 50px;
  gap: 20px 20px;
}

.calculadora > input {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: rgb(62, 126, 52);
  box-shadow: 0 0 3px 5px rgb(57, 110, 48);
}

.boton {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  color: white;
}
.calculadora > input:hover {
  background-color: rgba(62, 126, 52, 0.75);
}
.calculadora > input:active {
  background-color: rgba(62, 126, 52, 0.9);
}

.span-3 {
  grid-column: span 3;
}
.span-2 {
  grid-column: span 2;
}

.boton-especial {
  color: white;
  border-radius: 100px;
}

.boton-calculo {
  color: white;
}
.salida {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
}

.salida .previo {
  color: rgb(255 255 255 / 50%);
  font-size: 1.5rem;
}

.salida .actual {
  color: white;
  font-size: 3rem;
}
